.chat__messagefield__messagebox
  .chat__messagefield__messageinfo
    .chat__messagefield__messageinfo__username
      = message.user.name
    .chat__messagefield__messageinfo__date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .chat__messagefield__message
    - if message.content.present?
      %p.chat__messagefield__message__content
        = message.content
    = image_tag message.image.url, class: 'input-box__image__file' if message.image.present?