.sidebar
  .sidebar__leftheader
    .sidebar__leftheader__list
      .sidebar__leftheader__username rororo6116
      .sidebar__leftheader__iconlist
        .sidebar__leftheader__icon
          = link_to "/group/new", class: "Contents__btn " do
            = icon('fas', 'edit')
        .sidebar__leftheader__icon
          = link_to "/users/711/edit", class: "Contents__btn " do
            = icon('fas', 'cog')
  .sidebar__grouplist
    .sidebar__group
      .sidebar__group__name rororo6116
      .sidebar__group__message ro
    .sidebar__group
      .sidebar__group__name rororo6116
      .sidebar__group__message ro